<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Προβολή Πελάτη</title>
</head>
<body>
  <h2>Εμφάνιση Χρήστη</h2>
  <p><strong>Όνομα:</strong><%= name %></p>
  <p><strong>Επίθετο:</strong><%= surname %></p>
  <p><strong>Email:</strong><%= mail %></p>
  <p><strong>Φύλο:</strong><%= sex %></p>

  <p><a href="/create">Επιστροφή</a></p>
</body>
</html>